body {
    font-family: Roboto, 'Open Sans', sans-serif;
    margin: 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;

}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin-bottom: 0;
    margin-top: 0;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 0;
    margin-top: 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border: none;
    font-family: Roboto, 'Open Sans', sans-serif;
    font-style: bold;
    font-weight: bold;
    padding: 5px;
    width: 100px;
    height: 30px;
}

img { 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    
.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    padding-bottom: 96px;
    padding-left: 200px;
    padding-right: 200px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    padding-top: 0px;
    margin-top: 0px;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.hero-text {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 14px;
    color:#e5e7eb;
}

.rightside {
    background-color: #e5e7eb59;
    width: 480px;
    height: 250px;
    align-items: center;
    text-align: center;
    color: white;
    flex-shrink: 0;
}
.leftside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.leftside, .rightside {
    justify-content: center;
}



.top-half {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 96px;
}

h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.eikons {
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
    color: #1f2937;
    font-size: 16px;

}

.descicon {
    max-width: 150px;
}

.squareicon {
    border-style: solid;
    height: 150px;
    width: 150px;
    border-width: 4px;
    border-radius: 16px;
    border-color: #3882f6;
}

.bottom-half {
    padding: 96px;
    background-color: #e5e7eb;
    padding-left: 200px;
    padding-right: 200px;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

footer {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.cta {
    background-color: #3882f6;
    margin: 200px;
    margin-top: 96px;
    margin-bottom: 96px;
    border-radius: 5px;
    padding: 48px;
    padding-left: 96px;
    padding-right: 96px;
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
}

h4 {
    margin-bottom: 0;
    margin-top: 0;
}

button.ctab {
    border-style: solid;
    border-width: 2px;
    border-color: #f9faf8;
}

p.ctap {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px;
    font-size: 16px;
}